.userform{width:700px;margin:30px auto;}
.formtitle{margin-bottom: 20px;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 20px;}
.formtitle h2{font-size: 30px;text-align: center;}


/*header*/
.header{height: 100px;line-height: 100px;background: transparent;position: fixed;z-index: 100; width: 100%;font-size: 16px;box-shadow: 0 4px 35px rgba(0,0,0,.08)!important;}
.header_f{background: white !important;}
.nav_new{padding: 0 !important;}
.nav_new .navbar-nav{flex-direction: row;}
.nav_new .navbar-nav .nav-link{padding:0; }
.nav_new .navbar-nav .nav-link:hover{color: #5154F0 ;}
.nav_new .navbar-nav .nav-item{text-align: center;max-width: 100px;min-width: 80px;font-weight: 600;}
.nav_new .navbar-nav .nav-item a{color: #fff;}
.header_f .nav_new .navbar-nav .nav-item a{color: #00082d;}
.header_f .nav_new .navbar-nav .nav-item.active a{color: #5154F0; border-bottom: 4px solid #5154F0; height: calc(100% - 4px);}

.dropdown.open .dropdown-menu{display:block;border:none}
.navbar.nav_new .dropdown-menu{border:none;margin:0;padding:0;min-width:80px;border-radius:inherit;position: absolute;}
.navbar.nav_new .dropdown-menu .dropdown-item{height:40px;line-height:40px;color: #333;padding:0 1.5rem}
.navbar.nav_new .dropdown-item.active,.navbar.nav_new .dropdown-item:active{color:#5154F0;background-color:#fff}


.pc_login .h_login{ border-radius: 24px; margin-right: 20px ; width: 110px ; height: 40px ; margin-top: 30px ; line-height: 40px; text-align: center;color: #fff;}
.pc_login .h_login:hover{background: hsla(0,0%,100%,.2);color: #fff;}
.pc_login .h_login.active{background: #ff6801;}
.pc_login .h_login.active:hover{background: #ff9247 !important;}
.header_f .pc_login .h_login{color: #00082d;}
.header_f .pc_login .h_login:hover{background: hsl(0deg 0% 62% / 20%);color: #2f3554;}
.header_f .pc_login .h_login.active{background: #ff6801;}
.header_f .pc_login .h_login.active:hover{color: #fff;background: #ff9247 !important;}
.header_f .pc_login .h_login.active{color: #fff;}
/*header*/
